@import url("'https://fonts.googleapis.com/css?family=Roboto");
* { margin: 0;  box-sizing: border-box;}

body {	
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}
header {
		color: white;
		background-color: #56A3A1;
		padding-bottom: 20px;
		width:calc(100% - 300px);
		float: right;
}
#header p{
	text-align-align: center;
}
.sidebar {
	width:300px; 
	background-color: #007F7C;
	color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    height: 100%;
    overflow: auto;	
}
.sidebar  img{
	padding-right: 10px;
}
.sidebar  p{
	font-family: 'Roboto', sans-serif;

    font-size: 16px;
	margin-bottom: 1em;
}

.navlinks {
	color: white;
	letter-spacing: 1px;
	padding: 1.5em 0;
	border: none;
	display: block;
	margin: auto;
}
.nav_icon {
	height: 23px;
}

main { 
	width: calc(100% - 300px);
    padding: 20px;
    float: right;
    background: #efefef;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
section {
	width: 98%;
	/*height: calc;*/
	margin: 0 auto 2em;
	box-shadow: 
	1px 1px 3px rgba(0,0,0,.25),3px 3px 5px rgba(0,0,0,.15);
	background: #fff;
	padding: 1em 3em 2em 3em;
}
.headshot {
	margin-bottom: 1.5em;
	border-radius: 50%;
	box-shadow: 
	1px 1px 3px rgba(0,0,0,.25),3px 3px 5px rgba(0,0,0,.15);
}

#column {
	background-color: white;
	height: auto;
	float: left;
	padding: 10px 10px 30px 20px;
	width: 45%;
	margin: 2%;
	
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.eventphotos {
	border-radius: 50%;
	margin-top: 20px;
	margin-right: 20px;
	float: left;
	box-shadow: 
	1px 1px 3px rgba(0,0,0,.25),3px 3px 5px rgba(0,0,0,.15);
	width: 19%;

}
.colleaguesphotos {
	border-radius: 50%;
	margin-top: 20px;
	margin-right: 20px;
	box-shadow: 
	1px 1px 3px rgba(0,0,0,.25),3px 3px 5px rgba(0,0,0,.15);
	background: #fff;
	width: 14%;
}
.h3_icon {
	padding-right: 0.3em;
	height: 29px;

}

.h4_icon {
	padding-right: 0.3em;
	height: 28px;
	
}
.chart {
	margin-top: 1em;
}
#history h4 {
	margin-left: 1.5em;
	margin-top: 1em;
}

.paricon {
	margin-top: 1em;
	padding-right: 0.4em;
 	height: 35px;
}
.calendar {
	padding-top: 1em;
	width: 105%;
}
h2, h3, h4, h5 {
	font-weight: normal;
	color: #007F7C;	
}
h1{
	font-size: 4em;
	font-weight: normal;
	color: white;
	padding-left: 0.5em;
	vertical-align: center;
}
h1 img {
	padding-top: 25px;
	padding-right: 85px;

}
h2{
	font-size: 2em;
	text-align: center;
	padding: 1em 1em;
	}
h3{
	font-size: 1.9em;
	margin-bottom: 0.5em;

}
h4 {
	font-size: 1.3em;
			
}

h5 {
	font-size: 1em;
	margin-top: 0.53em
	margin-bottom: 0.9em;
	line-height:  01.5em;	
}
a{
	text-decoration: none;
	color:inherit;
	border-bottom: 1px solid;
	padding-bottom: 2px;
}
#profile h4 {
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}
#profile p {
	margin-bottom: 0.7em;
}
#activity p {
	margin-top: 1em;
}
#upcoming h5 {
	margin-bottom: 0.5em;
}
#upcoming p {
	margin-top: 0.7em;
	margin-bottom: 0.4em;
}
p{
    font-family: "georgia", serif;   
}
footer {
	text-align: center;

    padding: 20px;
    clear: both;
}
